section.contact 
    .contact__img 
        h1 Got a project in 
            span(style="color: #00ADB5; display: block;") mind?
            img(width="170px" src="/assets/img/Group 2372.png", alt="")
    .contact__inp 
        .first 
            .contact__inp--type 
                p Your name
                input(type="text" placeholder="Name")
            .contact__inp--type 
                p Your email
                input(type="text" placeholder="Email")
        .second 
            p Your massage 
            textarea(name="", cols="55", rows="15" placeholder="Massage") 
        button Send Massage