section.contact 
    .contact__img 
        h1 Got a project in 
            span(style="color: #00ADB5; display: block;") mind?
            img(width="170px" src="/assets/img/Group 2372.png", alt="")
    .contact__inp 
        .first 
            .contact__inp--type 
                p Your name
                input(type="text" placeholder="Name")
            .contact__inp--type 
                p Your email
                input(type="text" placeholder="Email")
        .second 
            p Your massage 
            textarea(name="", cols="55", rows="15" placeholder="Massage") 
        button Send Massage
    .contact__left 
        .contact__logo 
            img(src="/assets/img/uy.png", alt="")
            p Home 
        .contact__togo 
            img(src="/assets/img/user.png", alt="")
            p About me
        .contact__logo
            img(src="/assets/img/Vector (3).png", alt="")
            p Contact
    
    .contact__logo__footer
        .contact__logo__footer__logo
            .contack__flex 
                img(src="/assets/img/facebook.png", alt="")
            .contack__grid 
                img(src="/assets/img/ins.png", alt="")
            .contact__content 
                img(src="/assets/img/qush.png", alt="")
            .contact__disgn 
                img(src="/assets/img/youtube.png", alt="")     
