nav 
    div.header
         div.navbar
             h4 SaulDesign
         div.navbar__laft 
            p Home
            p about Me
            p Contect

         div.navbar__right
            h1(style="margin-bottom:50px;") CREATIVE UI <br> DESIGNER

         div.navbar__card
            img(src="/assets/img/Vector 187.png", alt="")
         div.navbar__button
            button Hire me
         div.navbar__button--two
            button Download CV
         div.navbar__img
            img(src="/assets/img/doodles mixed round.png", alt="")
         div.navbar__img--two
            img(src="/assets/img/odam.png", alt="")

