section.works 
    h1 My recent 
        span(style="color: #00ADB5;") works
    .works__buttons 
        button(style="background-color:aqua;") All
        each buttons in [1,1,1]
            button All
    .cards 
        each cards in [1,1,1]
            .card 
                 img(src="https://s3-alpha-sig.figma.com/img/0af8/e23c/d8af9f2bc81da5a4047ecdc800007d18?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OJ8hm6~XdeU4WHTewVb2nK~8myTAPRffYfJ9k1Ait-WM2a4p1z1S6hPDGgjyNc1E7TfQM2Vl93VAyxs0TceR0yP4fxzV72~Y0r-o412tP~HL-61XhqvfkbSTu7edT1SAWf9doDKoXyZPnWps5ERI~3569y8kqSnnypsdK7xoZpQBBIdTp3aqpxS4CsftJoe-Vpj8nLbjaUKsUSKGyeoXDAL6DQU12rl71XhOhSnvDO5LH6gyVSXtvUzF8kXFiIPG46uMcgQ2F7f3KwRJc9ZxrLw0s65Fgz4-XwLMm2PyxxQPHN6KEyGD1XHVKCOoyZr6FFDzM9lIr2cbXt0RpRexhA__", alt="")
